@page
@model Web_AVA_Proiect.Pages.Sali.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a style="color:lightseagreen; font-weight:bold" asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Cauta dupa strada: <br />
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a style="color:lightseagreen;" asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Numar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Etaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Strada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sala) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strada)
            </td>
            <td>
                <a style="color:lightseagreen; font-weight:bold" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a style="color:lightseagreen; font-weight:bold" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a style="color:lightseagreen; font-weight:bold" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
